@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@400;700&family=Azeret+Mono:ital,wght@0,400;0,800;1,400;1,800&family=B612+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Cousine:wght@400;700&family=Cutive+Mono&family=DM+Mono:ital@0;1&family=Fira+Code:wght@400;700&family=Fira+Mono:wght@400;700&family=IBM+Plex+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Inconsolata:wght@400;800&family=JetBrains+Mono:ital,wght@0,400;0,800;1,400;1,800&family=Major+Mono+Display&family=Nanum+Gothic+Coding:wght@400;700&family=Nova+Mono&family=Overpass+Mono:wght@400;700&family=Oxygen+Mono&family=PT+Mono&family=Roboto+Mono:wght@400;700&family=Share+Tech+Mono&family=Source+Code+Pro:wght@400;800&family=Space+Mono:wght@400;700&family=Syne+Mono&family=Ubuntu+Mono:wght@400;700&family=VT323&family=Xanh+Mono:ital@0;1&display=swap");
@import "./mixins.scss";

html,
body {
  margin: 0;
  padding: 0;
  letter-spacing: 0.9px;
}
